/*
Program       esci-precision.css
Author        Gordon Moore
Date          20 August 2020
Description   CSS for esci precision
Licence       GNU General Public LIcence Version 3, 29 June 2007
*/

/* #region Version history

0.0.1   Initial version


#endregion */

.red {
  color: red;
}

.black {
  color: black;
}

.small {
  font-size: 1.3rem;
}

.small1 {
  font-size: 1.4rem;
}

.backcolour {
  border: 1px solid darkgrey;
  background-color: lemonchiffon;
  padding-left:0.2rem;
  padding-right: 0.2rem;
}

.greek2 {
  font-size: 2.2rem;
}

.icons {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 2.6rem;
}

.slidericons {
  margin-top: 2.8rem;
}

.slidericons:hover {
  background-color: lightgray;
}

.slidericons:active {
  background-color: darkgrey;
}


/*----------------------------------split into 2 panels--------------------------------*/

#main2 {
  /*split into left and right panels*/
  display: grid;
  grid-template-columns: 40rem auto;
  grid-column-gap: 8px;
  height: 100%;
} 

/*----------------------------------left panel-----------------------------------------------------*/


/*----------------tab-----------------*/

#smarttab {
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

/*override*/
.st-theme-round > .tab-content > .tab-pane {
  padding-left: 2px;
  padding-right: 2px;
}

/*---------------tab headers----------------------------------------------------------*/

.nav-link {
  font-size: 1.6rem !important;
}

/*----------------------------------Unpaired data tab----------------------------------------------------*/

#tab-1 {
  font-size: 1.5rem !important;
}

/*---------------Tab 1 Panel 1 Population Correlation----------------------------------------------*/

#targetmoepanel {
  border: 1px solid black;
  background-color: #FFFF99;
  padding: 0.5rem;
}

/*---------------Tab 1 Panel 2 N curves----------------------------------------------*/

#ncurvesudpanel {
  border: 1px solid black;
  background-color: #CCFFFF;
  padding: 0.5rem;
}

/*---------------Tab 1 Panel 3 Display values----------------------------------------------*/

#displayvaluesudpanel {
  border: 1px solid black;
  background-color: #FFBBDD;
  padding: 0.5rem;
}

/*---------------Tab 1 Panel 4 Truncate display----------------------------------------------*/

#truncatedisplayudpanel {
  border: 1px solid black;
  background-color: #DDFFDD;
  padding: 0.5rem;
  height: 130px;
}

#truncatedisplayudsliderpanel {
  display: grid;
  grid-template-columns: 25rem 2rem 3rem 5rem;
  grid-row-gap: 3rem;
  margin-top: 1rem;
}

#truncatedisplayudval {
  margin-top: 3rem;
  height: 2rem;
  width: 4rem;
}

/*--------------------------------------Paired data tab------------------------------------------------------*/

#tab-2 {
  font-size: 1.5rem !important;
}

/*---------------Tab 2 Panel 1 & 2 Population Correlation----------------------------------------------*/

#populationcorrelationpanel {
  border: 1px solid black;
  background-color: #FFFF99;
  padding: 0.5rem;
}

#correlationrhotitle {
  margin-top: 3rem;
}

#correlationrhosliderpanel {
  display: grid;
  grid-template-columns: 10rem 18rem 2rem 3rem 5rem;
  grid-row-gap: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#correlationrhoval {
  margin-top: 3rem;
  height: 2rem;
  width: 4.5rem;
}



/*---------------Tab 2 Panel 3 N curves----------------------------------------------*/

#ncurvespdpanel {
  border: 1px solid black;
  background-color: #CCFFFF;
  padding: 0.5rem;
}

/*---------------Tab 2 Panel 4 Display values----------------------------------------------*/

#displayvaluespdpanel {
  border: 1px solid black;
  background-color: #FFBBDD;
  padding: 0.5rem;
}

/*---------------Tab 2 Panel 5 Truncate display----------------------------------------------*/

#truncatedisplaypdpanel {
  border: 1px solid black;
  background-color: #DDFFDD;
  padding: 0.5rem;
  height: 130px;
}

#truncatedisplaypdsliderpanel {
  display: grid;
  grid-template-columns: 25rem 2rem 3rem 5rem;
  grid-row-gap: 3rem;
  margin-top: 1rem;
}

#truncatedisplaypdval {
  margin-top: 3rem;
  height: 2rem;
  width: 4rem;
}




/*----------------------------------right panel display--------------------------------*/

#rightpanel {
  border: 1px solid grey;
  display: grid;
  grid-template-rows: auto 15rem;
}

/*----------------------------------Display area----------------------------------------*/

#display {
  background-color: white;
}


/*-------------MoE Target slider--------------------------------------------------------*/

#targetmoetitle {
  font-size: 1.7rem;
  padding-left: 0rem;
  padding-top: 2.8rem;
}

#targetmoesliderpanel {
  position: relative;
  height:6.0rem;
}

#targetmoesliderdiv .irs-grid-text {
  font-size: 1.4rem !important;
}

/*---------------Truncate display unpaired data slider--------------*/

/* #truncatedisplayudslider {

} */


/*---------------Truncate display paired data slider--------------*/

/* #truncatedisplayudslider {

} */

/*---------------Correlation rho paired data slider--------------*/

/* #correlationrhoslider {

} */


